<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Questrial&display=swap" rel="stylesheet">

    <title>Homepage</title>
</head>
<body>
    <div class="top-container">
        <div class="title">
        <h1><%= title %></h1>
        </div>
        <div class="icons">
            <a href="/createPost"><img src="https://icon-library.com/images/plus-icon-png/plus-icon-png-1.jpg" alt="add-post-icon"/></a>
            <img src="https://cdn3.iconfinder.com/data/icons/feather-5/24/search-512.png" alt="search-icon"/>
        </div>
    </div>
    <div class="sec-container">
        <h2><%= subtitle %></h2>
        <a href="/profile"><img src="https://www.freeiconspng.com/thumbs/profile-icon-png/account-profile-user-icon--icon-search-engine-10.png" alt="profile-icon"/></a>
    </div> <hr>

    <form action="/createPost" method="POST">
        <input type="text" name="text" id="text" placeholder="What's on your mind?" required/>
        <button class="post-btn" type="submit">Post</button>
    </form>

    <% if(posts.length === 0) { %>
        <p>No posts found at this moment.</p>
    <% } else { %>
        <% posts.forEach(post => { %>
            <section class="posts-container">
                <div class="post">
                    <p class="time"><%=post.time%></p>
                    <img class="post-img" src="https://st.depositphotos.com/57803962/55711/v/450/depositphotos_557110966-stock-illustration-man-web-icon-simple-illustration.jpg" width="20px" height="20px"/>
                    
                    <h2 class="post-author"><%=post.authorName %></h2>
                    <div class="post-status">
                    <p><%= post.postContent %></p>
                    </div>
                </div>
            </section>
        <% }) %>
    <%}%>
</body>
</html>